/*Noto_Serif*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
/*Nanum_Pen_Script*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
/*Noto Sans Korean*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Serif:ital@1&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* body{
    font-family: 'Noto Serif', serif;
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Noto Sans KR', sans-serif;
} */




/* 전체 배경 */
body {
    width: 100%;
    height: 100vh;
    background: url('../img/reservationWeek/reservationWeek.png') center center no-repeat;
    background-size: cover;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/* 헤더 */
#header {
    width: 100%;
    color: white;
    font-family: 'Noto Serif', serif;
    text-align: center;
}

#header p:nth-child(1) {
    font-size: 6vmax;
}

#header p:nth-child(2) {
    font-size: 3.2vmax;
    margin-top: -2%;
}




/* 섹션 */
#content {
    width: 100%;
}




/* 이미지 섹션 */
#left {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ex {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ex img {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 84%;
    border-radius: 4%;
}



/* 사용자 입력 섹션 */
.user {
    width: 20%;
}

form {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Nanum Pen Script', cursive;
    color: white;
    font-size: 1.8vmax;
}

input {
    width: 100%;
    border: none;
    background-color: white;
    color: #7B7B7B;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.8vmax;
}

::placeholder {
    font-family: 'Nanum Pen Script', cursive;
    color: #7B7B7B;
    font-size: 1.8vmax;
}



/* 이름 입력 받는 곳 */
.Name {
    width: 100%;
}

.Name input {
    padding-left: 17px;
}



/* 전화 입력 받는 곳 */
.Number {
    width: 100%;
}

.Number input {
    padding-left: 17px;
}



/* 타입1 입력 받는 곳 */
.Type1 {
    width: 100%;
}

#selectbox1 option {
    font-size: 1.4vmax;
    color: black;
}


/* 타입2 입력 받는 곳 */
.Type2 {
    width: 100%;
}


#selectbox1,
#selectbox2,
#selectbox3 {
    width: 100%;
    background-color: white;
    color: #7B7B7B;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.8vmax;
    padding-left: 10px;
}

#selectbox1 option,
#selectbox2 option,
#selectbox3 option {
    font-size: 1.4vmax;
    color: black;
}


/* 타입3 입력 받는 곳 */
.Type3 {
    width: 100%;
}

#selectbox3 option {
    font-size: 1.4vmax;
    color: black;
}



/* 날짜 시간 입력 받는 곳 */
.DateTime {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

}

/* 날짜 입력 받는 곳 */
.Date {
    width: 45%;
    margin-right: 10%;
}

.Date input {
    color: black;
    font-size: 1.4vmax;
    padding-left: 10%;
}

/* 시간 입력 받는 곳 */
.Time {
    width: 45%;
}

.Time input {
    color: black;
    font-size: 1.4vmax;
    padding-left: 10%;

    cursor: pointer;

    /* 시계 표시 추가 */
    background-image: url('../img/input/clock.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 20px;
}





/* 버튼 */
#button {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

button {
    width: 47.8%;
    margin-left: 2.2%;
    /* background-color: black; */
    background-color: rgb(150, 150, 150);
    border: none;
    color: white;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 3.2vmax;
    padding: 0.8% 0%;
    border-radius: 1rem;
}



/* 셀렉트 박스 관련 CSS ~~ 시작 ~~  */
.select {
    width: 100%;
    display: inline-block;
    border: 1px solid #999;
}

.select ul {
    list-style-type: none;
    padding-left: 0px;
}

.select .selected {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    color: #7B7B7B;
    background-color: #fff;
}

.select .option {
    display: flex;
    /* justify-content: space-between; */
    color: #7B7B7B;
}

/* 첫번째 글자 ( 꽃 한송이) */
.select .option div:nth-of-type(1) {
    font-size: 30px;
}

/* 할인전 금액 ( 2,000원 ) */
.select .option div:nth-of-type(2) span {
    font-size: 30px;
    text-decoration: line-through;
    color: #afafaf;

}

/* 할인 비율 ( 10% ) */
.select .option div:nth-of-type(3) {
    font-size: 30px;
    color: red;
}

/* 할인 된 금액 ( 1,800원 ) */
.select .option div:nth-of-type(4) {
    font-size: 30px;
}

/* 2번째 글자( 할인적용 글자) */
.select span {
    font-size: 15px;
}

/*선택된 첫번째 글자 ( 꽃 한송이) */
.selected-value div {
    font-size: 30px;
}

.select .selected .selected-value {
    width: 100%;
    display: flex;
    cursor: pointer;
}

.select ul li,
.select .selected .selected-value {
    white-space: nowrap;
    /* 줄바꿈 안함 */
    overflow: hidden;
    text-overflow: ellipsis;
    /* 말줄임 적용 */
}

.select ul {
    width: 20%;
    border: 1px solid #999;
    display: none;
    position: absolute;
    background: #fff;
    border-top: none;
    margin: 1px 0 0 -1px;
    cursor: pointer;
}

.select.active ul {
    display: initial;
}

.select ul li {
    padding: 8px 5px;
}

.select ul li:hover {
    background: rgba(168, 156, 235, 0.35)
}

/* 셀렉트 박스 관련 CSS ~~ 끝 ~~  */



/* 시간 선택하는 부분에서 글자크기 조정하기 */
.time_pc {
    font-size: 0.7em !important;
}

.time_m {
    font-size: 1.1em !important;
}



@media screen and (max-width: 767px) {

    body {
        height: auto;
    }

    /* 헤더 */
    #header {
        width: 100%;
    }

    #header p:nth-child(1) {
        margin-top: 10%;
        font-size: 7vmax;
    }

    #header p:nth-child(2) {
        font-size: 4.2vmax;
        margin-top: -2%;
    }



    .ex {
        width: 80%;
    }

    .ex img {
        width: 100%;
    }

    .user {
        width: 80%;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Nanum Pen Script', cursive;
        color: white;
        font-size: 3.5vmax;
    }

    input {
        width: 100%;
        border: none;
        background-color: white;
        color: #7B7B7B;
        font-family: 'Nanum Pen Script', cursive;
        font-size: 3.5vmax;
    }

    ::placeholder {
        font-family: 'Nanum Pen Script', cursive;
        color: #7B7B7B;
        font-size: 3.5vmax;
    }

    /* 타입2 입력 받는 곳 */
    #selectbox1,
    #selectbox2,
    #selectbox3 {
        font-size: 3.5vmax;
    }

    #selectbox1 option,
    #selectbox2 option,
    #selectbox3 option {
        font-size: 2.5vmax;
        color: black;
    }

    /* 날짜 입력 받는 곳 */
    .Date input {
        font-size: 2.5vmax;
    }

    /* 시간 입력 받는 곳 */
    .Time input {
        font-size: 2.5vmax;
    }

    /* 버튼 */
    button {
        width: 80%;
        font-size: 4.2vmax;
        margin: 15% 0;
        cursor: pointer;
    }

    .select ul {
        width: 80%;
    }

}